#menu {
    display: none;
}

#navigation {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-top: 0;
}

#navigation li a {
    color: #4f46e5;
    padding: 10px 20px;
    font-weight: 600;
}

#navigation li a:hover {
    background-color: #4f46e5;
    color: #ffffff;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header h1 {
    margin-bottom: 0;
}

.grid-container {
    grid-template-columns: repeat(3, 1fr);
}
